{
  "openapi": "3.1.0",
  "info": {
    "title": "Bubblemaps Data API",
    "version": "0.2.0"
  },
  "servers": [
    {
      "url": "https://api.bubblemaps.io"
    }
  ],
  "paths": {
    "/chains": {
      "get": {
        "tags": [
          "Chains"
        ],
        "summary": "Get Supported Chains",
        "description": "Deprecated: use `GET /v0/chains` instead. This endpoint will be removed in the future.",
        "operationId": "get_supported_chains_chains_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ChainDetails"
                  },
                  "type": "array",
                  "title": "Response Get Supported Chains Chains Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/maps/{chain}/{token_address}": {
      "get": {
        "tags": [
          "Maps"
        ],
        "summary": "Get Map Data",
        "description": "Deprecated: use `GET /v0/tokens/map/{chain}/{token_address}` instead. This endpoint will be removed in the future.",
        "operationId": "get_map_data_maps__chain___token_address__get",
        "deprecated": true,
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainId"
            }
          },
          {
            "name": "token_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token Address"
            }
          },
          {
            "name": "use_magic_nodes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "If true, use the magic nodes in the computation of the map.",
              "default": true
            }
          },
          {
            "name": "return_nodes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Return Nodes"
            }
          },
          {
            "name": "return_relationships",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Return Relationships"
            }
          },
          {
            "name": "return_clusters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Return Clusters"
            }
          },
          {
            "name": "return_decentralization_score",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Return Decentralization Score"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapData"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/chains": {
      "get": {
        "tags": [
          "v0"
        ],
        "summary": "Get Supported Chains V0",
        "operationId": "get_supported_chains_v0_v0_chains_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ChainDetails"
                  },
                  "type": "array",
                  "title": "Response Get Supported Chains V0 V0 Chains Get"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v0/tokens/search": {
      "get": {
        "tags": [
          "v0"
        ],
        "summary": "Search Tokens",
        "operationId": "search_tokens_v0_tokens_search_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "title": "The query to search for",
              "examples": [
                "bubblemaps",
                "bmt",
                "FQgtfugBdpFN7PZ6NdPrZpVLDBrPGxXesi4gVu3vErhY"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TokenDetailsV0"
                  },
                  "title": "Response Search Tokens V0 Tokens Search Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/tokens/metadata/{chain}/{token_address}": {
      "get": {
        "tags": [
          "v0"
        ],
        "summary": "Get Token Metadata",
        "operationId": "get_token_metadata_v0_tokens_metadata__chain___token_address__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainIdV0"
            }
          },
          {
            "name": "token_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token Address"
            }
          },
          {
            "name": "return_token_stats",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Include token stats (aggregates) in the response.",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/TokenDetailsV0"
                    },
                    {
                      "$ref": "#/components/schemas/TokenDetailsWithStatsV0"
                    }
                  ],
                  "title": "Response Get Token Metadata V0 Tokens Metadata  Chain   Token Address  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/tokens/metadata": {
      "post": {
        "tags": [
          "v0"
        ],
        "summary": "Get Tokens Metadata",
        "operationId": "get_tokens_metadata_v0_tokens_metadata_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "return_token_stats",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Include token stats (aggregates) in the response.",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TokenKey"
                },
                "maxItems": 1000,
                "examples": [
                  [
                    {
                      "chain": "eth",
                      "address": "0x1f9840a85d5af5bf1d1762f925bdaddc4201f984"
                    },
                    {
                      "chain": "base",
                      "address": "0x940181a94a35a4569e4529a3cdfb74e38fd98631"
                    }
                  ]
                ],
                "title": "Tokens Keys"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/TokenDetailsV0"
                      },
                      {
                        "$ref": "#/components/schemas/TokenDetailsWithStatsV0"
                      }
                    ]
                  },
                  "title": "Response Get Tokens Metadata V0 Tokens Metadata Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/tokens/holders/{chain}/{token_address}": {
      "get": {
        "tags": [
          "v0"
        ],
        "summary": "Get Token Holders",
        "operationId": "get_token_holders_v0_tokens_holders__chain___token_address__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainIdV0"
            }
          },
          {
            "name": "token_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token Address"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/HoldersLimit",
              "default": 80
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "ge": 0,
              "title": "The unix timestamp in seconds."
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "If true, bypass cache and force a refresh to latest data.",
              "default": false
            }
          },
          {
            "name": "return_metadata",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "If true, include address metadata in the response.",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TokenHolderV0"
                  },
                  "title": "Response Get Token Holders V0 Tokens Holders  Chain   Token Address  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/tokens/map/{chain}/{token_address}": {
      "get": {
        "tags": [
          "v0"
        ],
        "summary": "Get Token Map",
        "operationId": "get_token_map_v0_tokens_map__chain___token_address__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainIdV0"
            }
          },
          {
            "name": "token_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token Address"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/HoldersLimit",
              "default": 80
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "ge": 0,
              "title": "Timestamp"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "If true, bypass cache and force a refresh to latest data.",
              "default": false
            }
          },
          {
            "name": "use_magic_nodes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "If true, use magic nodes in map computation and include them in the response.",
              "default": true
            }
          },
          {
            "name": "return_nodes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Return Nodes"
            }
          },
          {
            "name": "return_relationships",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Return Relationships"
            }
          },
          {
            "name": "return_clusters",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Return Clusters"
            }
          },
          {
            "name": "return_decentralization_score",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Return Decentralization Score"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapDataV0"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/addresses/metadata/{address}": {
      "get": {
        "tags": [
          "v0"
        ],
        "summary": "Get Address Metadata",
        "operationId": "get_address_metadata_v0_addresses_metadata__address__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Address"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressMetadataV0"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v0/addresses/metadata": {
      "post": {
        "tags": [
          "v0"
        ],
        "summary": "Get Addresses Metadata Batch",
        "operationId": "get_addresses_metadata_batch_v0_addresses_metadata_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressMetadataBatchRequestV0"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AddressMetadataV0"
                  },
                  "type": "array",
                  "title": "Response Get Addresses Metadata Batch V0 Addresses Metadata Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/v0/relationships/subgraph": {
      "post": {
        "tags": [
          "v0"
        ],
        "summary": "Get Subgraph Relationships",
        "operationId": "get_subgraph_relationships_v0_relationships_subgraph_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubgraphRequestV0",
                "examples": [
                  {
                    "addresses": [
                      "0xb93b36f305464761abdbd01d7731d4ba496fb6fb",
                      "0x55fc36e37ee5c04df5803a9a48b9134b26dd167c"
                    ],
                    "context_token_key": {
                      "chain": "eth",
                      "address": "0x1f9840a85d5af5bf1d1762f925bdaddc4201f984"
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/GroupedTransferV0"
                  },
                  "type": "array",
                  "title": "Response Get Subgraph Relationships V0 Relationships Subgraph Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AccountAddressDetails": {
        "properties": {
          "label": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Label"
          },
          "degree": {
            "type": "integer",
            "title": "Degree"
          },
          "is_supernode": {
            "type": "boolean",
            "title": "Is Supernode"
          },
          "is_contract": {
            "type": "boolean",
            "title": "Is Contract"
          },
          "is_cex": {
            "type": "boolean",
            "title": "Is Cex"
          },
          "is_dex": {
            "type": "boolean",
            "title": "Is Dex"
          },
          "entity_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Entity Id"
          },
          "inward_relations": {
            "type": "integer",
            "title": "Inward Relations"
          },
          "outward_relations": {
            "type": "integer",
            "title": "Outward Relations"
          },
          "first_activity_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "First Activity Date"
          }
        },
        "type": "object",
        "required": [
          "degree",
          "is_supernode",
          "is_contract",
          "is_cex",
          "is_dex",
          "inward_relations",
          "outward_relations"
        ],
        "title": "AccountAddressDetails"
      },
      "AccountAddressWithDetailsWithMapContext": {
        "properties": {
          "address": {
            "type": "string",
            "title": "Address"
          },
          "address_details": {
            "$ref": "#/components/schemas/AccountAddressDetails"
          },
          "is_shown_on_map": {
            "type": "boolean",
            "title": "Is Shown On Map"
          }
        },
        "type": "object",
        "required": [
          "address",
          "address_details",
          "is_shown_on_map"
        ],
        "title": "AccountAddressWithDetailsWithMapContext"
      },
      "AccountAddressWithDetailsWithMapContextV0": {
        "properties": {
          "address": {
            "type": "string",
            "title": "Address"
          },
          "address_details": {
            "$ref": "#/components/schemas/AccountAddressDetails"
          },
          "is_shown_on_map": {
            "type": "boolean",
            "title": "Is Shown On Map"
          }
        },
        "type": "object",
        "required": [
          "address",
          "address_details",
          "is_shown_on_map"
        ],
        "title": "AccountAddressWithDetailsWithMapContextV0"
      },
      "AccountAddressWithHolderDataWithMapContext": {
        "properties": {
          "address": {
            "type": "string",
            "title": "Address"
          },
          "address_details": {
            "$ref": "#/components/schemas/AccountAddressDetails"
          },
          "holder_data": {
            "$ref": "#/components/schemas/HolderData"
          },
          "is_shown_on_map": {
            "type": "boolean",
            "title": "Is Shown On Map"
          }
        },
        "type": "object",
        "required": [
          "address",
          "address_details",
          "holder_data",
          "is_shown_on_map"
        ],
        "title": "AccountAddressWithHolderDataWithMapContext"
      },
      "AccountAddressWithHolderDataWithMapContextV0": {
        "properties": {
          "address": {
            "type": "string",
            "title": "Address"
          },
          "address_details": {
            "$ref": "#/components/schemas/AccountAddressDetails"
          },
          "holder_data": {
            "$ref": "#/components/schemas/HolderData"
          },
          "is_shown_on_map": {
            "type": "boolean",
            "title": "Is Shown On Map"
          }
        },
        "type": "object",
        "required": [
          "address",
          "address_details",
          "holder_data",
          "is_shown_on_map"
        ],
        "title": "AccountAddressWithHolderDataWithMapContextV0"
      },
      "AddressMetadataBatchRequestV0": {
        "properties": {
          "addresses": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "maxItems": 2500,
            "minItems": 1,
            "title": "Addresses"
          }
        },
        "type": "object",
        "required": [
          "addresses"
        ],
        "title": "AddressMetadataBatchRequestV0"
      },
      "AddressMetadataV0": {
        "properties": {
          "address": {
            "type": "string",
            "title": "Address"
          },
          "address_details": {
            "$ref": "#/components/schemas/AccountAddressDetails"
          }
        },
        "type": "object",
        "required": [
          "address",
          "address_details"
        ],
        "title": "AddressMetadataV0"
      },
      "ChainDetails": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ChainId"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "dexscreener_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Dexscreener Id"
          },
          "coingecko_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Coingecko Id"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "title": "ChainDetails"
      },
      "ChainId": {
        "type": "string",
        "enum": [
          "eth",
          "base",
          "solana",
          "tron",
          "bsc",
          "apechain",
          "ton",
          "polygon",
          "avalanche",
          "sonic",
          "hyperevm",
          "monad",
          "aptos",
          "arbitrum"
        ],
        "title": "ChainId"
      },
      "ChainIdV0": {
        "type": "string",
        "enum": [
          "eth",
          "base",
          "solana",
          "tron",
          "bsc",
          "apechain",
          "sonic",
          "ton",
          "avalanche",
          "polygon",
          "monad"
        ],
        "title": "ChainIdV0"
      },
      "ClusterData": {
        "properties": {
          "share": {
            "type": "number",
            "title": "Share"
          },
          "amount": {
            "type": "number",
            "title": "Amount"
          },
          "holder_count": {
            "type": "integer",
            "title": "Holder Count"
          },
          "holders": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Holders"
          }
        },
        "type": "object",
        "required": [
          "share",
          "amount",
          "holder_count",
          "holders"
        ],
        "title": "ClusterData"
      },
      "ContractTokenRef": {
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/ChainId"
          },
          "address": {
            "type": "string",
            "title": "Address"
          }
        },
        "type": "object",
        "required": [
          "chain",
          "address"
        ],
        "title": "ContractTokenRef"
      },
      "GroupedTransfer": {
        "properties": {
          "from_address": {
            "type": "string",
            "title": "From Address"
          },
          "to_address": {
            "type": "string",
            "title": "To Address"
          },
          "rel_type": {
            "type": "string",
            "const": "GROUPED_TRANSFER",
            "title": "Rel Type",
            "default": "GROUPED_TRANSFER"
          },
          "data": {
            "$ref": "#/components/schemas/GroupedTransferData"
          }
        },
        "type": "object",
        "required": [
          "from_address",
          "to_address",
          "data"
        ],
        "title": "GroupedTransfer"
      },
      "GroupedTransferData": {
        "properties": {
          "total_value": {
            "type": "number",
            "title": "Total Value"
          },
          "total_transfers": {
            "type": "integer",
            "title": "Total Transfers"
          },
          "first_date": {
            "type": "integer",
            "title": "First Date"
          },
          "last_date": {
            "type": "integer",
            "title": "Last Date"
          },
          "token_ref": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ContractTokenRef"
              },
              {
                "$ref": "#/components/schemas/NativeTokenRef"
              }
            ],
            "title": "Token Ref"
          }
        },
        "type": "object",
        "required": [
          "total_value",
          "total_transfers",
          "first_date",
          "last_date",
          "token_ref"
        ],
        "title": "GroupedTransferData"
      },
      "GroupedTransferDataV0": {
        "properties": {
          "total_value": {
            "type": "number",
            "title": "Total Value"
          },
          "total_transfers": {
            "type": "integer",
            "title": "Total Transfers"
          },
          "first_date": {
            "type": "integer",
            "title": "First Date"
          },
          "last_date": {
            "type": "integer",
            "title": "Last Date"
          },
          "token_key": {
            "$ref": "#/components/schemas/TokenKey"
          }
        },
        "type": "object",
        "required": [
          "total_value",
          "total_transfers",
          "first_date",
          "last_date",
          "token_key"
        ],
        "title": "GroupedTransferDataV0"
      },
      "GroupedTransferV0": {
        "properties": {
          "from_address": {
            "type": "string",
            "title": "From Address"
          },
          "to_address": {
            "type": "string",
            "title": "To Address"
          },
          "rel_type": {
            "type": "string",
            "const": "GROUPED_TRANSFER",
            "title": "Rel Type",
            "default": "GROUPED_TRANSFER"
          },
          "data": {
            "$ref": "#/components/schemas/GroupedTransferDataV0"
          }
        },
        "type": "object",
        "required": [
          "from_address",
          "to_address",
          "data"
        ],
        "title": "GroupedTransferV0"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "HolderData": {
        "properties": {
          "amount": {
            "type": "number",
            "title": "Amount"
          },
          "rank": {
            "type": "integer",
            "title": "Rank"
          },
          "share": {
            "type": "number",
            "title": "Share"
          }
        },
        "type": "object",
        "required": [
          "amount",
          "rank",
          "share"
        ],
        "title": "HolderData"
      },
      "HoldersLimit": {
        "type": "integer",
        "enum": [
          80,
          250,
          500
        ],
        "title": "HoldersLimit"
      },
      "IdentifiedSupply": {
        "properties": {
          "share_in_cexs": {
            "type": "number",
            "title": "Share In Cexs"
          },
          "share_in_dexs": {
            "type": "number",
            "title": "Share In Dexs"
          },
          "share_in_other_contracts": {
            "type": "number",
            "title": "Share In Other Contracts"
          }
        },
        "type": "object",
        "required": [
          "share_in_cexs",
          "share_in_dexs",
          "share_in_other_contracts"
        ],
        "title": "IdentifiedSupply"
      },
      "MapData": {
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MapMetadata"
          },
          "nodes": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NodesData"
              },
              {
                "type": "null"
              }
            ]
          },
          "relationships": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/GroupedTransfer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Relationships"
          },
          "decentralization_score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Decentralization Score"
          },
          "clusters": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ClusterData"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Clusters"
          }
        },
        "type": "object",
        "required": [
          "metadata"
        ],
        "title": "MapData"
      },
      "MapDataV0": {
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/MapMetadataV0"
          },
          "nodes": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/NodesDataV0"
              },
              {
                "type": "null"
              }
            ]
          },
          "relationships": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/GroupedTransferV0"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Relationships"
          },
          "decentralization_score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Decentralization Score"
          },
          "clusters": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ClusterData"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Clusters"
          }
        },
        "type": "object",
        "required": [
          "metadata"
        ],
        "title": "MapDataV0"
      },
      "MapMetadata": {
        "properties": {
          "dt_update": {
            "type": "string",
            "title": "Dt Update"
          },
          "ts_update": {
            "type": "integer",
            "title": "Ts Update"
          },
          "identified_supply": {
            "$ref": "#/components/schemas/IdentifiedSupply"
          }
        },
        "type": "object",
        "required": [
          "dt_update",
          "ts_update",
          "identified_supply"
        ],
        "title": "MapMetadata"
      },
      "MapMetadataV0": {
        "properties": {
          "dt_update": {
            "type": "string",
            "title": "Dt Update"
          },
          "ts_update": {
            "type": "integer",
            "title": "Ts Update"
          },
          "identified_supply": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/IdentifiedSupply"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "dt_update",
          "ts_update"
        ],
        "title": "MapMetadataV0"
      },
      "NativeTokenId": {
        "type": "string",
        "enum": [
          "ETH",
          "ETH_BASE",
          "SOL",
          "TRX",
          "BNB",
          "APE",
          "TON",
          "POL",
          "AVAX",
          "S",
          "HYPE",
          "MONAD",
          "ETH_ARB",
          "APT"
        ],
        "title": "NativeTokenId"
      },
      "NativeTokenRef": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/NativeTokenId"
          }
        },
        "type": "object",
        "required": [
          "id"
        ],
        "title": "NativeTokenRef"
      },
      "NodesData": {
        "properties": {
          "top_holders": {
            "items": {
              "$ref": "#/components/schemas/AccountAddressWithHolderDataWithMapContext"
            },
            "type": "array",
            "title": "Top Holders"
          },
          "magic_nodes": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/AccountAddressWithDetailsWithMapContext"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Magic Nodes"
          }
        },
        "type": "object",
        "required": [
          "top_holders"
        ],
        "title": "NodesData"
      },
      "NodesDataV0": {
        "properties": {
          "top_holders": {
            "items": {
              "$ref": "#/components/schemas/AccountAddressWithHolderDataWithMapContextV0"
            },
            "type": "array",
            "title": "Top Holders"
          },
          "magic_nodes": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/AccountAddressWithDetailsWithMapContextV0"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Magic Nodes"
          }
        },
        "type": "object",
        "required": [
          "top_holders"
        ],
        "title": "NodesDataV0"
      },
      "SubgraphRequestV0": {
        "properties": {
          "addresses": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "maxItems": 1000,
            "minItems": 2,
            "title": "Addresses"
          },
          "context_token_key": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TokenKey"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "addresses"
        ],
        "title": "SubgraphRequestV0"
      },
      "TokenAggregates": {
        "properties": {
          "transfers_count": {
            "type": "integer",
            "title": "Transfers Count"
          },
          "min_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Min Date"
          },
          "max_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Date"
          }
        },
        "type": "object",
        "required": [
          "transfers_count"
        ],
        "title": "TokenAggregates"
      },
      "TokenDetailsV0": {
        "properties": {
          "token_key": {
            "$ref": "#/components/schemas/TokenKey"
          },
          "metadata": {
            "$ref": "#/components/schemas/TokenMetadata"
          }
        },
        "type": "object",
        "required": [
          "token_key",
          "metadata"
        ],
        "title": "TokenDetailsV0"
      },
      "TokenDetailsWithStatsV0": {
        "properties": {
          "token_key": {
            "$ref": "#/components/schemas/TokenKey"
          },
          "metadata": {
            "$ref": "#/components/schemas/TokenMetadata"
          },
          "token_stats": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TokenAggregates"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "token_key",
          "metadata"
        ],
        "title": "TokenDetailsWithStatsV0"
      },
      "TokenHolderV0": {
        "properties": {
          "address": {
            "type": "string",
            "title": "Address"
          },
          "address_details": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AccountAddressDetails"
              },
              {
                "type": "null"
              }
            ]
          },
          "holder_data": {
            "$ref": "#/components/schemas/HolderData"
          }
        },
        "type": "object",
        "required": [
          "address",
          "holder_data"
        ],
        "title": "TokenHolderV0"
      },
      "TokenKey": {
        "properties": {
          "chain": {
            "$ref": "#/components/schemas/ChainIdV0"
          },
          "address": {
            "type": "string",
            "title": "Address"
          }
        },
        "type": "object",
        "required": [
          "chain",
          "address"
        ],
        "title": "TokenKey"
      },
      "TokenMetadata": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name"
          },
          "symbol": {
            "type": "string",
            "title": "Symbol"
          },
          "is_indexed": {
            "type": "boolean",
            "title": "Is Indexed"
          },
          "img_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Img Url"
          }
        },
        "type": "object",
        "required": [
          "name",
          "symbol",
          "is_indexed"
        ],
        "title": "TokenMetadata"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "APIKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ApiKey"
      }
    }
  }
}